.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.track {
  width: 300px;
  height: 4px;
  background: #cbd5f5;
  position: relative;
  overflow: hidden;
}

.train {
  position: absolute;
  left: -60px;
  top: -18px;
  font-size: 32px;
  animation: moveTrain 2s linear infinite;
}

@keyframes moveTrain {
  from {
    left: -60px;
  }
  to {
    left: 320px;
  }
}